services:
  # ========== databases ==========
  ao_security_db:
    image: postgres:16
    container_name: ao_security_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: AuthDb
    ports:
      - "5433:5432"
    volumes:
      - ../docker_data/ask-ostrich/ao_security_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d AuthDb"]
      interval: 10s
      retries: 5
      timeout: 5s

  ao_manage_db:
    image: mongo:7
    container_name: ao_manage_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: ao_survey_manage
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ../docker_data/ask-ostrich/ao_manage_db_data:/data/db
      - ./backend/mongo-init-manage.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  ao_response_db:
    image: mongo:7
    container_name: ao_response_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: ao_survey_response
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - ../docker_data/ask-ostrich/ao_response_db_data:/data/db
      - ./backend/mongo-init-response.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  # ========== migration ==========
  ao_security_db_migrate:
    image: mcr.microsoft.com/dotnet/sdk:9.0
    container_name: ao_security_db_migrate
    depends_on:
      ao_security_db:
        condition: service_healthy
    working_dir: /src/backend/src/SecurityService/Presentation/SecurityService.Presentation.API
    volumes:
      - .:/src
    environment:
      ConnectionStrings__authdbconnection: "Host=ao_security_db;Port=5432;Database=AuthDb;Username=user;Password=password"
    command: >
      sh -c "dotnet tool install --global dotnet-ef --version 9.0.1 &&
             export PATH=\"$PATH:/root/.dotnet/tools\" &&
             dotnet restore &&
             dotnet ef database update --context AuthDbContext"
      
  # ========== message broker =========
  ao_message_broker:
    image: rabbitmq:3.12-management
    container_name: ao_message_broker
    restart: always
    ports:
        - 5672:5672
        - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - ../docker_data/ask-ostrich/ao_message_broker/rabbitmq:/var/lib/rabbitmq
      - ../docker_data/ask-ostrich/ao_message_broker/rabbitmq_log:/var/log/rabbitmq
    healthcheck:
        test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
        interval: 5s
        retries: 12
        timeout: 5s

  # ========== microservices ==========
  ao_security_service:
    build:
      context: ./backend
      dockerfile: src/SecurityService/Presentation/SecurityService.Presentation.API/Dockerfile
    container_name: ao_security_service
    depends_on:
      ao_security_db_migrate:
        condition: service_completed_successfully
      ao_message_broker:
        condition: service_healthy
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__authdbconnection: Host=ao_security_db;Port=5432;Database=AuthDb;Username=user;Password=password
      RABBITMQ__HOSTNAME: ao_message_broker
      RABBITMQ__PORT: 5672
      RABBITMQ__USERNAME: admin
      RABBITMQ__PASSWORD: admin
    ports:
      - "5001:8080"

  ao_survey_manage_service:
    build:
      context: ./backend
      dockerfile: src/SurveyManageService/Presentation/SurveyManageService.Presentation.API/Dockerfile
    container_name: ao_survey_manage_service
    environment:
      ASPNETCORE_URLS: http://+:8080
      MongoDb__ConnectionString: mongodb://user:password@ao_manage_db:27017/ao_survey_manage?authSource=ao_survey_manage
      MongoDb__Database: ao_survey_manage
      RABBITMQ__HOSTNAME: ao_message_broker
      RABBITMQ__PORT: 5672
      RABBITMQ__USERNAME: admin
      RABBITMQ__PASSWORD: admin
    depends_on:
      ao_manage_db:
        condition: service_started
      ao_security_service:
        condition: service_started
    ports:
      - "5002:8080"

  ao_survey_response_service:
    build:
      context: ./backend
      dockerfile: src/SurveyResponseService/Presentation/SurveyResponseService.Presentation.API/Dockerfile
    container_name: ao_survey_response_service
    environment:
      ASPNETCORE_URLS: http://+:8080
      MongoDb__ConnectionString: mongodb://user:password@ao_response_db:27017/ao_survey_response?authSource=ao_survey_response
      MongoDb__Database: ao_survey_response
      RABBITMQ__HOSTNAME: ao_message_broker
      RABBITMQ__PORT: 5672
      RABBITMQ__USERNAME: admin
      RABBITMQ__PASSWORD: admin
    depends_on:
      ao_response_db:
        condition: service_started
      ao_security_service:
        condition: service_started
    ports:
      - "5003:8080"

  ao_ai_assistant_service:
    build:
      context: ./backend
      dockerfile: src/AIAssistantService/Presentation/AIAssistantService.Presentation.API/Dockerfile
    container_name: ao_ai_assistant_service
    environment:
      ASPNETCORE_URLS: http://+:8080
      Ollama__BaseUrl: "http://host.docker.internal:11434/"
      Ollama__Model: "gpt-oss:20b-cloud"
    ports:
      - "5004:8080"
      
  # ========== gateway ==========
  ao_gateway_service:
    build:
      context: ./backend
      dockerfile: src/GatewayService/GatewayService.API/Dockerfile
    container_name: ao_gateway_service
    command: yarn start
    depends_on:
      ao_security_service:
        condition: service_started
      ao_survey_manage_service:
        condition: service_started
      ao_survey_response_service:
        condition: service_started
      ao_ai_assistant_service:
        condition: service_started
    ports:
      - "8080:8080"

  # ========== frontend ==========
  ao_frontend:
    build: ./frontend
    container_name: ao_frontend
    depends_on:
      ao_gateway_service:
        condition: service_started
    ports:
      - "80:80"

  # ========== telegram bot ==========
  ao_telegram_bot:
    build:
      context: ./backend
      dockerfile: src/TelegramBotService/Presentation/TelegramBotService.Presentation.Telegram/Dockerfile
    container_name: ao_telegram_bot
    environment:
      BOT_TOKEN: "${BOT_TOKEN}"
      Frontend__BaseUrl: "http://127.0.0.1"
      AuthApi__BaseUrl: "http://ao_gateway_service:8080"
    depends_on:
      ao_gateway_service:
        condition: service_started
