@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-img {
    height: 64px;
}
button:disabled {
  background-color: #b0b0b0!important;
  color: #666;
  cursor: not-allowed;
}